@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.container {
  max-width: 70vw;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
.header {
  font-size: 45px;
}
.main {
  display: flex;
  justify-content: space-between;
}
.text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  flex-basis: 50%;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
}

.main img {
  width: 300px;
  height: 300px;
}

.footer {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
}

.footer img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

h2 {
  font-size: 25px;
}

.footer .text1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0;
}

.text1 p {
  font-size: 15px;
}

@media (max-width: 830px) {
  .header {
    font-size: 35px;
  }

  .text {
    font-size: 16px;
  }

  .main {
    flex-wrap: wrap;
  }

  .main .text {
    flex-grow: 1;
  }

  .main .img {
    flex-grow: 1;
  }

  .main img {
    width: 180px;
    height: 180px;
  }

  .footer img {
    display: none;
  }

  h2 {
    font-size: 20px;
  }

  .footer {
    gap: 5px;
  }

  .text1 p {
    font-size: 12px;
  }
}

@media (max-width: 380px) {
  .header {
    font-size: 30px;
  }

  .text {
    font-size: 13px;
  }

  .main img {
    width: 140px;
    height: 140px;
  }

  h2 {
    font-size: 15px;
  }

  .text1 p {
    font-size: 10px;
  }

  .footer .text1 {
  }
}
